* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: rgb(223, 225, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
}

.top .top_left {
    width: 30%;
    padding: 25px;
    font-size: 30px;
}

.top .top_right {
    display: flex;
    padding: 20px;
}

.top .top_right .text {
    margin-right: 100px;
}



.bottom {
    display: flex;
}

.bottom .bottom_left {
    background-color: rgb(205, 198, 198);
    width: 12%;
    height: 800px;
    border-radius: 5px;
}

.bottom .bottom_left ul {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.bottom .bottom_left ul li {
    font-size: 30px;
    height: 100px;
}

.bottom .bottom_left ul a {
    text-decoration: none;
}

.bottom .bottom_right {
    width: 88%;
    background-color: rgb(196, 172, 172);
}

.bottom .bottom_right .content {
    display: flex;
    flex-direction: column;
}

.bottom .bottom_right .content .change {
    margin-top: 50px;
    margin-left: 500px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.bottom .bottom_right .content .submit {
    margin-top: 50px;
    margin-left: 535px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}